/* ---------------------------MaterialIcon用---------------------------*/
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;

  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;

  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;

  /* IEサポート */
  font-feature-settings: "liga";
}
/* アイコンサイズ */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* 背景が明るいとき用のアイコン色 */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* 背景が暗いとき用のアイコン色 */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
/* ---------------------------tag用---------------------------*/
.tag{
  margin: 0.2rem 0rem 0rem 0rem; 
  display: inline-block;
  max-width: 3rem;
  height: 1.3rem;
  padding: 0 0.3rem;
  background-color: #fff;
  border: 0.01rem solid #aaa;
  border-radius: 0.1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 0.7em;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.tag:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}
/* ---------------------------item用---------------------------*/
.item-point {
}
.item {
  margin: 1rem 0rem;
  max-width: 20rem;
}

.item-header{
  display:flex;
  justify-content:flex-end;
  padding:0.5rem;
}
.item-tags{
  margin-right: auto;
}
.item-assignee{
  font-size: 0.75em;
  display:flex;
}
.item-header-icon{
  margin-bottom: auto;
  margin-top: auto; 
  margin-left:0.5rem;
}
.item-header div{
  margin-bottom: auto;
  margin-top: auto; 
}

.item-assignee-list{
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 0.5rem;
  text-align:right;
}

.item-body{
  padding:0.8rem;
}

.items .item:first-child {
  margin: 0rem 0rem 1rem 0rem;
}
.item-name{
  float:left;
  max-width: 14rem;
}
/* ---------------------------column用---------------------------*/
.columns {
  display: flex;
  align-items: flex-start;
}
.column {
  margin: 0rem 0.3rem; 
  width: 20rem;
  background-color: #28a745;
}
.column-header{
  display:flex;
}
.column-name{
  float:left;
}
.column-header-icon{
  margin-left: auto;
}

/* ---------------------------全体用---------------------------*/
#app {
  background-color:#C0C0C0;
  margin:1rem;
}

/* ---------------------------modal---------------------------*/

.right-content {
  margin:0.5rem 0
}