table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover {
  background-color: #eee;
}

table th,
table td {
  text-align: center;
  padding: 15px 0;
}
table .id {
  width: 3%;
}

table .role,
table .name {
  width: 10%;
}

.users-box {
  padding-inline-start: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.invite-box {
  text-align: right;
  margin-left: 1rem;
  margin-right: 1rem;
}
